Zammad does not encrypt to recipients in CC

This reopens #4036 as the current implementation violates the S/MIME RFC, as requested in [this Zammad Community post](https://community.zammad.org/t/zammad-does-not-encrypt-to-cc-addresses/8998/3).

### Infos:

* Used Zammad version: 5.2.1-1662457222.36b8fb34.bullseye
* Installation method (source, package, ..): package
* Operating system: Debian 11.5, Kernel 5.10.0-18-amd64
* Database + version: psql (PostgreSQL) 13.8 (Debian 13.8-0+deb11u1)
* Elasticsearch version: 7.17.6
* Browser + version: 103.0.2

Creating a new article (new or existing ticket) as mail with To and CC addresses correctly checks for each of the addresses if encryption is possible (i.e. enables and disables the "encrypt" button accordingly). However, sending this article with encryption and signature enabled generates an email that is only encrypted to the addresses listed in the To field. Example:

![image](https://user-images.githubusercontent.com/19955832/189662051-282946e5-c7e2-4ac1-9a7c-0f3f3d4bb338.png)

vs. the CMS structure of the received mail:
```
└─$ openssl cms -cmsout -print -in /tmp/ticket-202203259700344-347485.eml | grep -i serial 
        d.issuerAndSerialNumber: 
          serialNumber: 11252863011588097877091389412
```
The serial is the certificate of the TO address.

This behaviour violates [RFC 2315 Section 10](https://datatracker.ietf.org/doc/html/rfc2315#section-10) which says that an encrypted mail is encrypted by choosing a symmetric encryption key and then encrypting that symmetric encryption key with the public key of **each recipient**. A recipient in the mail context is every mail address in at least the TO, CC and BCC headers. For more context, see discussion in [this Zammad Community post](https://community.zammad.org/t/zammad-does-not-encrypt-to-cc-addresses/8998/3).


### Expected behavior:

Encrypted mail is readable by all recipients.


### Actual behavior:

Encrypted mail is only readable by direct recipients and not by CC'd ones.


### Steps to reproduce the behavior:

- Create a new ticket
- Select email
- Fill To and CC with different mail addresses that you both have an imported S/MIME public key for
- Send mail
- Download raw version of the created article
- Observe via `openssl cms` that it is only encrypted for the certificate of the "TO" address

Yes I'm sure this is a bug and no feature request or a general question.
